@page
@model IndexModel
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Http
@using RebelRentals;
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
            <div class="form-group">
                @if (Model.phoneNumberAccepted == false)
                {
                    <ul class="text-danger"><li>Invalid phone number</li></ul>
                }
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>
        </form>
        

        <div class="form-group pt-3">
            @if (Model.ShowingMenu == false)
            {
            <h5 class="pb-2">
                Current Currency: <br>
                @(JsonConvert.DeserializeObject<Currency>(HttpContext.Session.GetString("SessionCurrency")).CurrencyName)
            </h5>

                <form method="post">
                    <button class="btn btn-primary" asp-page-handler="DisplayCurrencyChangeList">
                        Change currency
                    </button>
                </form>
            }
            else
            {
                <form method="post">
                    <select asp-for="Id" class="form-control">
                        @foreach (var currency in (JsonConvert.DeserializeObject<List<Currency>>(HttpContext.Session.GetString("SessionList"))))
                        {
                            <option value="@currency.Id">@currency.Id  ||  @currency.CurrencyName  ||  @currency.CurrencySymbol</option>
                        }
                    </select>
                    <button class="btn btn-primary mt-3" asp-page-handler="ChangeCurrency">
                        Submit Currency-change
                    </button>
                </form>
            }
        </div>  
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}