@page
@model RebelRentals.Pages.OrderPage.DetailsModel
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Ship</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ship.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ship.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ship.NumberOfPopulation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ship.NumberOfPopulation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ship.Class)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ship.Class)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ship.MaxSpeed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ship.MaxSpeed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ship.Length)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ship.Length)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ship.Width)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ship.Width)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ship.Height)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ship.Height)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ship.Price)
        </dt>
        <dd class="col-sm-10">
            @(Math.Round(Model.Ship.Price*JsonConvert.DeserializeObject<double>(HttpContext.Session.GetString("SessionRate")), 3)) @(JsonConvert.DeserializeObject<Currency>(HttpContext.Session.GetString("SessionCurrency")).CurrencySymbol)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ship.About)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ship.About)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Ship.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
