@page
@model RebelRentals.Pages.Support.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.UserSort">
                    Username
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.ShipOrder[0].Ship.Class">
                    Ship
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.ShipOrder[0].OrderId">
                    Order
                </a>
            </th>
            <th>
                Quantity
            </th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model.ShipOrder) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Order.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ship.Class)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
