@page
@model RebelRentals.Pages.Support.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Add ship to existing order</a>
</p>

<form method="post" asp-page-handler="WipeDatabase">
    <button>Wipe all orders</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.OrderIdSort">
                    @Html.DisplayNameFor(model => model.ShipOrder[0].OrderId)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.ShipIdSort">
                    @Html.DisplayNameFor(model => model.ShipOrder[0].ShipId)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.CountSort">
                    @Html.DisplayNameFor(model => model.ShipOrder[0].Count)
                </a>
            </th>
        </tr>
    </thead>
    <tbody>

        @{ foreach (var item in Model.ShipOrder)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShipId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Count)
                    </td>
                    <td>
                        <form method="post">
                            <button asp-page-handler="EditNumberOfShips" asp-route-shipId="@item.ShipId" asp-route-orderId="@item.OrderId">
                                Edit no. of ships
                            </button>
                        </form>
                        <form method="post">
                            <button asp-page-handler="DeleteOrder" asp-route-shipId="@item.ShipId" asp-route-orderId="@item.OrderId">
                                Delete order
                            </button>
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
